/* --- Root container ---
  Centers the entire app and caps its width on wide screens
  <div> root id tag inside <body> element */
#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin: 0 auto;
  text-align: center;

  background-image: url("../assets/pexels-olenkabohovyk-3646105.jpg");
  /* image source - https://www.pexels.com/photo/brown-wooden-book-shelves-with-books-3646105/ */

  background-attachment: no-repeat;
  background-position: center top;
  background-size: cover;
}

body {
  background: rgba(255, 255, 255);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 620%;
  font-weight: 800;
}

h3 {
  font-size: 200%;
  font-weight: 800;
  color: rgba(255, 255, 255);
  background: rgb(0, 0, 0);
  line-height: auto;
}

a {
  color: rgb(75, 86, 110);
  font-weight: bold;
}

a:hover {
  color: rgb(235, 200, 49);
  background: rgb(0, 0, 0);
  text-decoration: none;
}

.header-div {
  background: rgb(50, 113, 235);
  width: 100%;
}

.header {
  width: 1024px;
  height: auto;
  text-align: left;
  margin: auto;
  line-height: 3.5rem;
}

.app {
  text-align: left;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, auto);
  gap: 1rem;
  max-width: 1024px;
  margin: auto;
  padding: 2rem 1rem;
}

.book-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  margin: auto;
  max-width: 800px;
  max-height: auto;
  border: 0.25rem solid #190601;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.book-image {
  max-height: 300px;
  max-width: 200px;
  filter: drop-shadow(10px 10px 4px rgb(245, 160, 51));
  margin: auto;
}

.book-card-flex {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  justify-content: space-between;
}

.book-card-flex p:nth-child(2) {
  font-style: italic;
}

.footer-div {
  background: rgba(75, 86, 110, 0.8);
  width: 100%;
}

.footer {
  padding: 1rem;
  width: 1024px;
  text-align: left;
  margin: auto;
  color: rgb(245, 160, 51);
}

@media (max-width: 700px) {
  h1 {
    font-size: 15vw;
    font-weight: 800;
  }
  .header {
    width: auto;
  }
  .book-card {
    flex-direction: column;
  }
  .book-card-flex {
    margin: 1rem auto 0;
    gap: 0.5rem;
  }
  .footer {
    width: auto;
  }
}
